header{

    position: fixed;
    width: 100vw;
    z-index: 1;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
    background-color: #fff;
    .header{
        
        .row1{
            .col-4{
                display: flex;
                justify-content: center;
                h3{
                    font-size: 1.1rem;
                    white-space: wrap;
                    padding: 0 4rem;
                    font-weight: 500;
                    line-height: 23px;
                }
                img{
                    width: 150px;
                    height: 40px;
                }
            }
            .span{
                align-items: center;
            }
        }

        .row2{
            justify-content: center;
            ul{
                display: flex;
                gap: 30px;
                li{
                    
                    a{

                    }
                }
            }
        }
    }
}