#schedule{

    .schedule{
        display: flex;
        justify-content: center;
        table,th,td{
            border: 1px solid #DEE2E6;
            padding: 10px 60px;  
        }

        th{
            background-color: $thbck;
            font-weight: bold;
        }

        td{
            padding: 20px 60px;
            color: gray;
            font-size: 14px;
        }

        tr{
            transition: 1s;
            &:hover{
                background-color: $bg1;
            }
        }
    }
}