
.epilogue-elcan {
    font-family: "Epilogue", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

*{
    font-family: "Epilogue", sans-serif;
}