* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fira-sans-thin {
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    font-style: normal;
  }

body {
    font-family: "Fira Sans", sans-serif;
    background-color: #f0f0f0;
    height: 100vh;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh; 
}

.profile {
    width: 45vw; 
    height: 100vh;
    background-color: #f0f0f0; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.about {
    width: 55vw;
    height: 100vh;
    background-color: #ffffff; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.profile-pic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    margin-bottom: 5px;
}

h3 {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.social-icons i{
    font-size: 30px;
    margin: 10px;
    cursor: pointer;
}


.email-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

.about h2 {
    font-size: 50px;
    margin-bottom: 15px;
}

.about p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}

.buttons {
    margin-top: 20px;
}

.resume-btn, .portfolio-btn {
    padding: 10px 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

