#works {
    background-color: $bg-color2;

    .works {


        .row {
            padding: 3rem;

            @include for_phone_only {
                gap: 20px;
            }
        }
    }

    .col-4 {
        border: 1px solid $border-color;
        padding: 1rem 2rem;


    }
}