main{

    .bckphoto{
       background-image: url("http://127.0.0.1:5500/1.0-Website-Gym-Practice/assets/images/header-bg.jpg");
       
        .relative{
            position: relative;
        }

       .overlay{
        background-color: black;
        opacity: 0.4;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        z-index: 5;
       }
        .image{
            width: 100%;
            object-fit: cover;
        }

        .container{
            

            .texts{
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }
    .banner{


    }
}