h1{
    font-weight: 800;
    font-size: 72px;
    line-height: 80px;
    letter-spacing: -2px;
    color: #FFFFFF;
}

h2{
    font-weight: 800;
    font-size: 56px;
    line-height: 64px;
    letter-spacing: -1px;
    color: $brown;
}


h3{
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: $brown;

}


h4

h5{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    letter-spacing: 3px;
    color: $gray;
}

p{
    font-weight: 400;
    font-size: 16px;
    line-height: 32px;
    color: $gray;
}

a{
    color: #FFFFFF;
}

.big{
    font-size: 20px;
    font-weight: 400;
    color: #391400;
}